.section-main{
    padding: 1rem 3.5rem;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.section-main h2{
    font-size: 2rem;
    font-weight: 400;
    width: 80%;
}

.section-card{
    display: grid;
    grid-template-columns: repeat(1fr, 3);
}
.section-main span{
    color: aqua;
    font-size: 0.7rem;
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    .main{
        padding: 2rem 2.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    }
}