.section-main {
    padding: 4rem 5rem;
    background-color: #f4f4f4;
  }
  
  .main-content {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    margin-bottom: 4rem;
  }
  
  .text-content {
    max-width: 50%;
  }
  
  .text-content span {
    color: #004481;
    font-weight: bold;
  }
  
  .text-content h2 {
    font-size: 2.3rem;
    width: 100%;
    color: #333;
    margin-top: 1rem;
    font-weight: 400;
  }
  
  
  
  .card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    
  }
  
 
  
  .card img {
    max-width: 90%;
    height: auto;
    margin-bottom: 1rem;
    cursor: pointer;
  }
  
  .card p {
    font-size: 1.2rem;
    color: #333;
  }

  .feature-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
  }

  .feature-section img{
    width: 50%;
  }

  .feature-words h2{
    margin-top: 3vh;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2vh;
  }

  .feature-words h5{
    text-align: center;
    font-size: 0.9em;
    font-weight: 500;
    
  }

  .download-section h1{
    color: #DCDDE0;
    text-align: center;
    font-size: 3rem;
    margin-top: 10vh;
  }



.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* grid-template-rows: repeat(12, 1fr);  */
  gap: 10px; 
  margin-bottom: 2rem;
}


.grid-containers {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* grid-template-rows: repeat(12, 1fr);  */
  gap: 10px; 
  margin-bottom: 2rem;
}

.image-item {
  grid-column: span 4; 
  grid-row: span 3;    
}


.text-item {
  grid-column: span 8; 
  grid-row: span 3;   
  background-color: #1F6CAB; 
  border-radius: 20px;
  display: flex;
  /* padding: 5% 2vw; */
  justify-content: space-between;
  align-items: flex-start;
}

.text-items {
  grid-column: span 8; 
  grid-row: span 3;   
background-image: url('/Frame1.png');
  border-radius: 20px;
  padding: 2rem;
 
}

.text-items h3{
  font-size: 1.5rem;
  font-weight: 800;
  color: #fff;
}

.text-items h6{
 font-size: 1rem;
 font-weight: 100;
 color: #fff;
 margin-top: 1rem;
}

.text-item-img img{
  width: 80%;
  margin-top: 2rem;
  
}
.image-item img {
  width: 100%;
  height: auto; 
}

.text-item-text{
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-direction: column;
  margin-top: 6rem;
  margin-inline: 2rem;
}

.text-item-texts h3{
  color: #fff;
  font-size: 2rem;
 
}

.text-item-texts h6{
  color: #fff;
  font-size: 0.9rem;
  font-weight: 100;
  margin-top: 0.5rem;
  letter-spacing: 0rem;
  line-height: 1.2rem;
}

.text-item-button{
  margin-top: 50%;
}

.text-item-button h5{
  color: #fff;
  font-size: 1rem;
}

.phone2 {
  border-radius: 20px;
}

/* Airtel Section */
.airtel-section {
  position: relative;
  display: inline-block;
  width: 100%; 
}

.airtel-section img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay-text {
  position: absolute;
  top: 50%; 
  left: 0; 
  transform: translateY(-50%);
  color: white;
  font-size: 1rem; 
 
  padding: 20px; 
 

}

.overlay-text h2 {
  margin: 0 0 10px; 
  font-size: 1.8rem; 
}

.overlay-text h6 {
  margin: 0; 
  font-size: 1rem; 
  font-weight: 100;
}

.buttons{
  margin-top: 80%;
}

.sectiond{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url('/sectiond.png');
  border-radius: 10px;
  margin-top: 10vh;
  padding: 20px;
  color: #fff;
}



.sectiond-text h3{
  font-size: 2.5rem;
  margin-bottom: 2vh;
}

.sectiond-text h5{
  font-size: 1rem;
  font-weight: 100;
}


  @media screen and (max-width: 900px) {
    
.sectiond-text h3{
  font-size: 1.8rem;
  margin-bottom: 1vh;
}

.sectiond-text h5{
  font-size: 0.7rem;
  font-weight: 100;
  margin-bottom: 3vh;
}
    .sectiond{
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
   .sectiond img{
    max-width: 100%;
   }
    .section-main {
        padding: 2rem;
        background-color: #f4f4f4;
      }
      
      .text-content {
        max-width: 80%;
      }

      .text-content h2 {
        font-size: 1.5rem;
        width: 100%;
        color: #333;
        margin-top: 1rem;
        font-weight: 400;
      }
      .card-grid {
        
        grid-template-columns: repeat(1, 1fr);
        
        
      }

      .card img {
        max-width: 100%;
        height: auto;
        margin-bottom: 1rem;
        cursor: pointer;
      }
      .feature-section img{
        width: 100%;
      }
      
      .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* grid-template-rows: repeat(12, 1fr);  */
        gap: 10px; 
      }
      .text-item-img img{
        width: 100%;
        margin-top: 2rem;
        
      }

      .image-item {
        grid-column: 1; 
        grid-row: span 3;    
      }
      
      
      .text-item {
        grid-column: 1; 
        grid-row: span 3;   
        background-color: #1F6CAB; 
        border-radius: 20px;
        display: flex;
        /* padding: 5% 2vw; */
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
      }

      .text-items {
        grid-column: 1; 
        grid-row: span 3;   
        background-color: #1F6CAB; 
        border-radius: 20px;
        display: flex;
        /* padding: 5% 2vw; */
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
      }

      .overlay-text {
        position: absolute;
       
        bottom: -60%; 
        left: 0; 
        transform: translateY(-50%);
        color: white;
        font-size: 1rem; 
       
        /* padding: 20px;  */
       
      
      }
      
      .overlay-text h2 {
        margin: 0 0 10px; 
        font-size: 1rem; 
      }
      
      .overlay-text h6 {
        margin: 0; 
        font-size: 1rem; 
        font-weight: 100;
      }
      .buttons{
        margin-top: 10%;
      }
  }