.section-main {
    padding: 4rem 5rem;
    background-color: #f4f4f4;
  }
  
  .main-content {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    margin-bottom: 4rem;
  }
  
  .text-content {
    max-width: 50%;
  }
  
  .text-content span {
    color: #004481;
    font-weight: bold;
  }
  
  .text-content h2 {
    font-size: 2.3rem;
    width: 100%;
    color: #333;
    margin-top: 1rem;
    font-weight: 400;
  }
  
  
  
  .card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    
  }
  
 
  
  .card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
    cursor: pointer;
  }
  
  .card p {
    font-size: 1.2rem;
    color: #333;
  }
  

  @media screen and (max-width: 767px) {
    .section-main {
        padding: 2rem;
        background-color: #f4f4f4;
      }
      
      .text-content {
        max-width: 80%;
      }

      .text-content h2 {
        font-size: 1.5rem;
        width: 100%;
        color: #333;
        margin-top: 1rem;
        font-weight: 400;
      }
  }